<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyADv9dxeKBl2ySdkXDKUj-bMtRSsp1HyEA</string>
	<key>GCM_SENDER_ID</key>
	<string>633981793052</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fatiharslan.BuyssyApp</string>
	<key>PROJECT_ID</key>
	<string>buyssyapp</string>
	<key>STORAGE_BUCKET</key>
	<string>buyssyapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:633981793052:ios:1f06686f6267d2abccc0d9</string>
</dict>
</plist>